# Intellij

.idea/

*.iml

.classpath

.factorypath

.project

 

# VSCode

.vscode/

 

# Node

node_modules/

dist/

 

# MS temp

~$*

 

# Vim backups

*~

 

# OS

.DS_Store

 

# Code coverage

.nyc_output/

coverage/

lcov.info

 

# Logs

lerna-debug.log

isolate-*.log

out/

 

# Python (mkdocs)

*.pyc

__pycache__/

 

# Draw.io backups

.$*

*.bkp

*.dtmp

 

# Mkdocs build output

mkdocs/site/

 

# Local config

application-local.yml

 

# dotenv environment variables file

.env

local/

 

# simulator log dir

logs/

 